

.page {
    width:1500px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}

.hor_line{
    width:1500px;
    background: #ADACAB;
    height: 1px;
}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#list_main_info h4{
  margin: 0;
}

.student_profile_heading {
  width: 20%;
  margin-top: 10px !important;
}

.student_profile_heading_prtrt {
    width: 20%;
    margin-top: 10px !important;
}

#student_profile_heading_prtrt h4 {
    font-size: 22px;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}

#student_main_info_prtrt h3{
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 24px;
}


.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}

.even td{
  padding: 6px 6px 6px 6px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  font-size: 20px;
}

.even_prtrt td{
    padding: 6px 6px 6px 6px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    font-size: 20px;
}


.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;

}

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 1px solid #ADACAB;
}

table#pdf-table td{
  border-bottom: 1px solid #ADACAB;
}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
    font-size: 22px;
}

.table-header_prtrt td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color: #97080e;
    font-size: 22px;
    background: #EEEEEE;
}


table#listing td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
    text-align:center;
}
table#listing td.col-2{
    width:40%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
}
table#listing td.col-3{
    width:13%;
    padding: 5px;
    padding-left:10px;
}
table#listing td.col-4{
    width:30%;
    padding: 5px;
    padding-left:10px;
}
table#listing td.col-5{
    width:5%;
    padding: 5px;
    padding-left:10px;
}
table#listing td.col-6{
    text-align: right;
   width:13%;
    padding: 5px;
    padding-left:10px;
}

table#listing td.col-7{
    width:20%;
    padding: 5px;
    padding-left:10px;
}
tr.tr-blank{
    height:10px;
}



#signatures {
    padding-left: 1%;
    padding-top: 2%;
    width:90%;
    height:20%;
    font-size: 130%;
}


#signatures-header {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.signature-date {
    padding-top: 1%;
    font-size: 90%;
    text-align: center;
}

#first-signee {
  float: left;
  width: 33%;
}

.signee-title {
  text-align: center;
}

.signee-name {
  padding-top: 10%;
  text-align: center;
}

#second-signee {
    float:left;
    width: 33%;
}


#third-signee {
  float: right;
  width: 33%;
}








