
#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-left:271px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
input#upload_datafile{
    height:30px;
}
form{
    margin:0px auto;
}
.box{
    margin: 0 auto;
    width: 700px;
}
.label-field-pair label{
    width: 240px !important;
}

.label-three-fields-pair {
    width: 600px !important;
    height: 40px;
}

.label-three-fields-pair label{
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    padding-top: 10px;
    font-weight: 600;
    width: 240px !important;
}

.short-text-input-bg {
    background : transparent;
    height : 28px;
    width : 350px;
    float:left;
}

.label-three-fields-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 90px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

#configuration_directors_arms {
  width: 30px;
}
#configuration_edu_directors_arms {
  width: 30px;
}
#configuration_edu_directors_full_name {
  width: 150px;
}
#configuration_directors_full_name {
  width: 150px;
}

.fee_category_scroll {
-moz-background-inline-policy:continuous;
-moz-border-radius:10px 10px 10px 10px;
-webkit-background-inline-policy:continuous;
-webkit-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:86px;
margin-left:250px;
margin-top:-30px;
max-height:100px;
overflow:auto;
padding:7px;
width:200px;
}
.sel-list {
border-bottom:1px solid #DDDDDD;
margin-bottom:2px;
width:197px;
}
.each_batch {
border-bottom:1px solid #DDDDDD;
font-size:12px;
overflow:auto;
width:198px;
}
