

.page {
    width:800px;
    margin: 0 auto;
    overflow: hidden;
}



.hor_line{
    width:800px;
    background: #ADACAB;
    height: 1px;
}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}

.tr-separate{
    height:auto;
    background: #F5BCA9;
}


.tr-separate td{
    color:#27292b;
    padding: 1px 6px 1px 6px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;
}

.odd-sub{
    height:auto;
    background: #EEEEEE;

}

.even-sub{

    height:auto;
    background: #fff;
}


.even td{
    padding: 12px 5px 12px 5px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.odd td{
    padding: 12px 5px 12px 5px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.even-sub td{
    padding: 1px 6px 1px 6px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.odd-sub td{
    padding: 1px 6px 1px 6px;
    border-left:  1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}


table#pdf-table{
    border: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
}

.table-header td{
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    border-left:  1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
    text-align: center;
}

#signatures {
    padding-left: 1%;
    padding-top: 2%;
    width:90%;
    height:20%;
    font-size: 100%;
}


#signatures-header {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.signature-date {
    padding-top: 1%;
    font-size: 90%;
    text-align: center;
}

#first-signee {
    float: left;
    width: 33%;
}

.signee-title {
    text-align: center;
}

.signee-name {
    padding-top: 10%;
    text-align: center;
}

#third-signee {
    float:right;
    width: 33%;
}





